<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieFinder | Discover Your Next Watch</title>
  <meta name="description" content="Search millions of movies and discover your next favorite film">
  <link rel="stylesheet" type="text/css" href="/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <!-- Floating Orbs for Background Effect -->
  <div class="orb orb-1"></div>
  <div class="orb orb-2"></div>